@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/* Shared styles */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white-color: #ffffff;
    --green-color: #00FF88;
    --dark: #1A0B2E;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

p {
    color: rgba(255, 255, 255, 0.6);
    font-size: 1rem;
}

button {
    background: none;
    border: none;
    border-radius: 1000px;
    font-size: 1rem;
    font-weight: 600;
    padding: 12px 16px;
    gap: 8px;
}

.button-primary {
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
    color: #ffffff;
}

.button-secondary {
    border: 1px solid var(--green-color);
    color: var(--green-color);
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.25rem;
}

.display-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.text-align-center {
    text-align: center;
}


/* Navbar styles */
.navigation {
    background-color: var(--dark);
    border-bottom: 1px solid #412567;
    color: var(--white-color);
    padding: 1.5rem 0;
}

.navigation .nav-list {
    gap: 2rem;
}

.navbar-brand {
    font-size: 3rem;
    font-weight: 700;
}

.nav-link {
    color: rgba(255, 255, 255, 0.9);
    font-size: 1rem;
    font-weight: 600;
    line-height: 120%;
}

.menu-toggle {
    display: none;
}

.menu-toggle img {
    width: 1.5rem;
    height: 1.5rem;
}


/* Banner styles */
#banner {
    background-image: url('../assets/hero-bg.png');
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.banner-content {
    max-width: 550px;
    margin: 0 auto;
    text-align: center;
    color: var(--white-color);
}

.banner-content .banner-icon {
    position: relative;
    width: 350px;
    height: 350px;
    margin: 0 auto 40px;
    border-radius: 50%;
    background-image: url('../assets/hero-circle.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-icon #badge {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: var(--green-color);
    color: var(--dark);
    padding: 8px 16px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 100px;
    box-shadow: 0px 3px 27px rgb(0, 255, 136, 0.5);
}

.banner-content .banner-title {
    font-size: 60px;
    font-weight: 800;
    margin-bottom: .5rem;
}

.banner-content .banner-text {
    margin-bottom: 1.5rem;
}

.banner-content .banner-button {
    gap: 8px;
}


/*=======================
Responsive styles
=========================*/
/* small device */
@media screen and (max-width: 576px) {
    /* Navbar styles */
    .menu-toggle {
        display: block;
    }

    .navigation {
        padding: 1rem 0;
    }

    .navigation .container {
        position: relative;
    }

    .nav-list {
        flex-direction: column;
        position: absolute;
        top: 80px;
        width: 100%;
        overflow: hidden;
        left: 0;
        background-color: var(--dark);
        padding: 2rem;
        display: none;
    }

    .navigation .button-primary {
        display: none;
    }

    .banner-content .banner-icon {
        width: 250px;
        height: 250px;
    }

    .banner-button button {
        font-size: 12px;
    }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
    /* Navbar styles */
    .menu-toggle {
        display: block;
    }

    .navigation .container {
        position: relative;
    }

    .nav-list {
        flex-direction: column;
        position: absolute;
        top: 80px;
        width: 100%;
        overflow: hidden;
        left: 0;
        background-color: var(--dark);
        padding: 0;
        height: 0;
    }

    #active {
        padding: 2rem;
        height: auto;
    }

    .navigation .button-primary {
        display: none;
    }
}