@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/* Shared styles */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white-color: #ffffff;
    --green-color: #00FF88;
    --dark-color: #1A0B2E;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--dark-color);
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

p {
    color: rgba(255, 255, 255, 0.6);
    font-size: 1rem;
}

button {
    background: none;
    border: none;
    border-radius: 1000px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    padding: 12px 16px;
    gap: 8px;
    transition: .4s ease-in-out all;
}

.button-primary {
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
    color: #ffffff;
}

.button-secondary {
    border: 1px solid var(--green-color);
    color: var(--green-color);
}

button:hover {
    transform: translateY(-10px);
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.25rem;
}

.display-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.text-align-center {
    text-align: center;
}

main>section, footer {
    padding: 7.5rem 0;
}

.section-title {
    color: var(--white-color);
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 2.5rem;
}


/* Navbar styles */
.navigation {
    background-color: var(--dark-color);
    border-bottom: 1px solid #412567;
    color: var(--white-color);
    padding: 1.5rem 0;
    position: relative;
}

.navigation .nav-list {
    gap: 2rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar-brand {
    color: var(--white-color);
    font-size: 3rem;
    font-weight: 700;
}

.navbar-brand span {
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
    background-clip: text;
    color: transparent;
}

.nav-link {
    color: rgba(255, 255, 255, 0.9);
    font-size: 1rem;
    font-weight: 600;
    line-height: 120%;
}

.menu-toggle {
    display: none;
}

.menu-toggle img {
    width: 1.5rem;
    height: 1.5rem;
}

.navigation button:hover {
    gap: 20px;
    transform: none;
}


/* Banner styles */
#banner {
    background-image: url('../assets/hero-bg.png');
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 0;
}

.banner-content {
    max-width: 550px;
    margin: 40px auto;
    text-align: center;
    color: var(--white-color);
}

.banner-content .banner-icon {
    position: relative;
    width: 350px;
    height: 350px;
    margin: 0 auto 40px;
    border-radius: 50%;
    background-image: url('../assets/hero-circle.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-icon #badge {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: var(--green-color);
    color: var(--dark-color);
    padding: 8px 16px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 100px;
    box-shadow: 0px 3px 27px rgb(0, 255, 136, 0.5);
}

.banner-content .banner-title {
    font-size: 60px;
    font-weight: 800;
    margin-bottom: .5rem;
}

.banner-content .banner-text {
    margin-bottom: 1.5rem;
}

.banner-content .banner-button {
    gap: 8px;
}


/* about section style */
#about {
    background-color: var(--dark-color);
    padding: 50px 0px 120px 0px;
}

.about-info {
    padding-bottom: 5rem;
    border-bottom: 1px solid rgb(255, 255, 255, 0.1);
}

.about-info .section-title {
    margin-bottom: 1rem;
}

.about-info .section-descripton,
.stat-item .stat-text,
.host-card .host-details {
    line-height: 1.25rem;
}

.about-stat {
    padding: 5rem 0 0 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}

.about-stat .stat-item .stat-number {
    color: var(--green-color);
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.stat-item .stat-text {
    text-transform: uppercase;
}


/* why choose section styles */
#why-choose {
    background-color: #230E3D;
}

.why-choose-content .why-choose-item {
    background-color: rgb(53, 17, 101, 0.4);
    border-radius: 40px;
    padding: 2.5rem;
}

.why-choose-item img {
    margin-bottom: 1rem;
}

.why-choose-item .why-choose-title {
    color: var(--white-color);
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.why-choose-content .why-choose-text,
.host-card .host-details,
.episode-details .episode-description,
.episode-duration span {
    line-height: 1.5rem;
}

.premium-quality {
    grid-area: premium-quality;
}

.mobile-friendly {
    grid-area: mobile-friendly;
}

.global-community {
    grid-area: global-community;
}

.exclusive-interviews {
    grid-area: exclusive-interviews;
}

.rich-resources {
    grid-area: rich-resources;
}

.why-choose-content {
    display: grid;
    gap: 30px;
    grid-template-areas:
        "premium-quality mobile-friendly mobile-friendly"
        "premium-quality global-community global-community"
        "exclusive-interviews exclusive-interviews rich-resources";
}


/* featured episode section style */
.episode-container {
    gap: 30px;
}

.episode-container .episode-card {
    background-color: #250D44;
    border-radius: 40px;
    overflow: hidden;
}

.episode-card .episode-video {
    min-height: 215px;
    position: relative;
}

.episode-video iframe {
    pointer-events: none;
}

.episode-video .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 1.8rem;
    transform: translate(-50%, -50%);
    color: var(--white-color);
    border-radius: 50%;
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
    width: 60px;
    height: 60px;
}

.episode-card .episode-details {
    padding: 1.5rem;
}

.episode-details>* {
    margin-bottom: 12px;
}

.episode-details .episode-title {
    color: var(--white-color);
    font-size: 1.5rem;
    font-weight: 700;
}

.episode-details .episode-duration {
    gap: 6px;
}

.episode-duration img {
    width: 20px;
    height: 20px;
}

.episode-duration span {
    color: var(--green-color);
    font-size: 1rem;
    font-weight: 600;
}


/* host section style */
#host {
    padding-top: 0px;
}

.host-card {
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 2.5rem;
    gap: 1.5rem;
    padding: 2.5rem;
}

.host-card .host-name {
    font-size: 2rem;
    font-weight: 700;
    color: var(--white-color);
    margin-bottom: 1rem;
}

.host-card .host-contact {
    gap: .5rem;
    margin-top: 1rem;
}

.host-contact .social-link .icon {
    border: 1px solid #533C72;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}


/* footer section style */
footer {
    background-image: url('../assets/footer-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

footer .navbar-brand {
    font-size: 4rem;
    margin-bottom: 2rem;
}

footer .footer-social {
    padding-bottom: 2rem;
    border-bottom: 1px solid rgb(255, 255, 255, 0.1);
    margin-bottom: 2rem;
    gap: 2.5rem;
    flex-wrap: wrap;
    font-weight: 600;
}

.footer-social .social-link {
    gap: .5rem;
}

.footer-social .social-link img {
    width: 1.5rem;
    height: 1.5rem;
}

.footer-social .social-link .media-name {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.6);

}


/*=======================
Responsive styles
=========================*/
/* small device */
@media screen and (max-width: 576px) {
    main>section, footer {
        padding: 2.5rem 0;
    }

    .nav-list,
    .episode-container,
    .host-card {
        flex-direction: column;
    }

    /* Navbar styles */
    .menu-toggle {
        display: block;
    }

    .navigation {
        padding: 1rem 0;
    }

    .navigation .container {
        position: relative;
    }

    .nav-list {
        position: absolute;
        top: 80px;
        width: 100%;
        overflow: hidden;
        left: 0;
        background-color: var(--dark-color);
        padding: 2rem;
        display: none;
    }

    .navigation .button-primary {
        display: none;
    }

    /* Banner styles */
    .banner-content .banner-icon {
        width: 250px;
        height: 250px;
    }

    .banner-icon #badge {
        top: 0;
        right: 0;
    }

    .banner-button button {
        font-size: 12px;
    }

    .section-title {
        font-size: 2rem;
    }

    /* About section styles */
    .about-info {
        padding-bottom: 2.5rem;
    }

    .about-stat {
        grid-template-columns: repeat(2, 1fr);
        padding: 2.5rem 0;
        gap: 2.5rem;
    }

    .stat-item .stat-text {
        font-size: .95rem;
    }

    /* Why choose section styles */
    .why-choose-content .why-choose-item {
        padding: 1.5rem;
    }

    .why-choose-content {
        grid-template-areas:
            "premium-quality"
            "mobile-friendly"
            "global-community"
            "exclusive-interviews"
            "rich-resources";
    }

    /* featured episode sectioon style */
    .episode-details .episode-title {
        font-size: 20px;
    }

    .episode-details .episode-description {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
    }

    /* host section style */
    .host-card {
        justify-content: center;
        text-align: center;
    }

    .host-card .host-contact {
        justify-content: center;
    }

    /* footer section style */
    footer .footer-social {
        gap: 1rem;
    }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
    main>section, footer {
        padding: 2.5rem 0;
    }

    .nav-list,
    .episode-container,
    .host-card {
        flex-direction: column;
    }

    /* Navbar styles */
    .menu-toggle {
        display: block;
    }

    .navigation .container {
        position: relative;
    }

    .nav-list {
        top: 80px;
        width: 100%;
        overflow: hidden;
        left: 0;
        background-color: var(--dark-color);
        padding: 0;
        height: 0;
    }

    .navigation .button-primary {
        display: none;
    }

    .about-stat {
        grid-template-columns: repeat(2, 1fr);
        gap: 2.5rem;
    }
    
    /* Why choose section styles */
    .why-choose-content {
        grid-template-areas:
            "premium-quality"
            "mobile-friendly"
            "global-community"
            "exclusive-interviews"
            "rich-resources";
    }
}